/*SOCIAL NETWORKS GALLERY*/
.icons-container {
    text-align: center;
    margin: auto;
    width: 60%;
}

.icons-container__d-flex {
    display: flex;
    gap: 30%;
    padding: 6px 18px;
}


@media screen and (max-width: 768px) {
    .icons-container__d-flex {
        gap: 25%;
    }
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
}

.display-flex {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.video-container {
    width: 100%;
    margin: auto;

}

.wrapper-container {
    width: 100%;
    padding: 2% 10%;
}

.box-shadow {
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.grid-container {
    display: grid;
}